/* created by Szymon Maslanka */

@import url('reset.css');
@import url('fonts/stylesheet.css');

* {
	font-family: ubuntulight;
}

body
{	
	background: url('bg.jpg') 50% 0 no-repeat fixed;
}

b {	font-family: ubuntubold; }
i { font-family: ubuntuitalic; }

.log-center {
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -75px;
	height: 300px;
	width: 500px;

	position: absolute;

}

#log {
	-moz-animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}


#login, #pass {
	margin: 5px;
	width: 300px;	
	height: 30px;
	border-radius: 5px;

	text-align: center; 
	font-size: 1.4em;
	color: #47BAC1;
	float: left;
}

#logMe {	
	width: 80px;
	height: 80px;
	border-radius: 40px;
	text-align: center;
	margin-top: 4px;

	font-size: 1.4em;
	font-weight: 900;
	color: white;
	background: #47BAC1;
	border: 5px solid white;
	text-shadow: white 0px 0px 1px;
	
}

#search {
	display: none;
	margin-left: -50px;

	color: white;
	font-size: 2.5em;
	font-family: ubuntulight;
	font-weight: bold;
	text-shadow: white 0px 0px 3px;

}

#search p {
	float: left;
}

#search img {
	margin-left: 50px;
	margin-top: 10px;
}


input, textarea {
	padding: 1px;
	border: 1px solid lightgray;
	width: 200px;
	margin: 0.6%;

	border-radius: 5px; 
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid lightgray;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}

#tooltip {
	font-size: 0.7em;
    text-align: center;
    color: #fff;
    background: gray;
    position: absolute;
    border-radius: 5px;
    z-index: 100;
    padding: 10px;
}



